{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
{% endblock %}


{% block body %}

	<div class="container">
		<h1>Bienvenue dans la page d'accueil</h1>
	</div>
	<div class="container">
		<div class="row">
			{% for article in articles %}
				<div class="card col-md-3">
					<p class="date">Ecrit le
						{{article.createdAt | date("d/m/Y")}}
						à
						{{article.createdAt | date("H:i")}}</p>
					<img src="https://www.webmarketing-com.com/wp-content/uploads/2017/11/ridigio-ads-livre-blanc-600x314.png" width="100%" class="card-img-top" alt="{{article.image}}">


					<div class="card-body">
						<h5 class="card-title">{{article.title}}</h5>
						<a href="{{path('show', {id : article.id})}}" class="btn btn-primary">En savoir plus</a>

					</div>
				</div>

			{% endfor %}
		</div>
	</div>


{% endblock %}
